___

<a href='https://www.udemy.com/user/joseportilla/'><img src='https://github.com/imabiodun/tic-tac-toe/blob/Pierian_Data_Logo.png?raw=1'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Milestone Project 1: Walkthrough Steps Workbook

Below is a set of steps for you to follow to try to create the Tic Tac Toe Milestone Project game!

#### Some suggested tools before you get started:
To take input from a user:

    player1 = input("Please pick a marker 'X' or 'O'")
    
Note that input() takes in a string. If you need an integer value, use

    position = int(input('Please enter a number'))
    
<br>To clear the screen between moves:

    from IPython.display import clear_output
    clear_output()
    
Note that clear_output() will only work in jupyter. To clear the screen in other IDEs, consider:

    print('\n'*100)
    
This scrolls the previous board up out of view. Now on to the program!

**Step 1: Write a function that can print out a board. Set up your board as a list, where each index 1-9 corresponds with a number on a number pad, so you get a 3 by 3 board representation.**

In [27]:
from IPython.display import clear_output
import time
import re
import itertools


def display_board(board):
    clear_output()

    print('\t\t\t\t' + '****'*12)
    print('')
    print(f'\t\t\t\t\t\t|\t\t|\t')
    print(f"\t\t\t\t\t{board[0]}\t|\t{board[1]}\t|\t{board[2]}")
    print(f"\t\t\t\t\t" +('---')*12)
    print(f'\t\t\t\t\t\t|\t\t|\t')
    print(f"\t\t\t\t\t{board[3]}\t|\t{board[4]}\t|\t{board[5]}")
    print(f'\t\t\t\t\t\t|\t\t|\t')
    print(f"\t\t\t\t\t" +('---')*12)
    print(f"\t\t\t\t\t{board[6]}\t|\t{board[7]}\t|\t{board[8]}")
    print(f'\t\t\t\t\t\t|\t\t|\t')
    print('')
    print('\t\t\t\t' + '****'*12)

**TEST Step 1:** run your function on a test version of the board list, and make adjustments as necessary

In [ ]:
test_board = ['#','X','O','X','O','X','O','X','O','X']
display_board(test_board)

				************************************************

						|		|
					#	|	X	|	O
					------------------------------------
						|		|
					X	|	O	|	X
						|		|
					------------------------------------
					O	|	X	|	O
						|		|

				************************************************

**Step 2: Write a function that can take in a player input and assign their marker as 'X' or 'O'. Think about using *while* loops to continually ask until you get a correct answer.**

In [2]:
def player_input(p1,p2):
  player1_name, player2_name = (p1,p2)
  choice = {'O','X'}
  user_input = input(f"{player1_name}, Choose either 'X' or 'O': ")
  # user_input = input(f"{player2_name}, Choose either 'X' or 'O': ")
  if user_input.upper() == 'O':
    print(f"{player2_name} is {'O'}\n{player1_name} is {(choice - {'O'}).pop()}")
    return ('O','X')
  else:
    print(f"{player1_name} is {'X'}\n{player2_name} is {(choice - {'X'}).pop()}")
    return ('X','O')

**TEST Step 2:** run the function to make sure it returns the desired output

**Step 3: Write a function that takes in the board list object, a marker ('X' or 'O'), and a desired position (number 1-9) and assigns it to the board.**

In [3]:
def place_marker(board, marker, position):
  board[int(position)] = marker
  return board

**TEST Step 3:** run the place marker function using test parameters and display the modified board

**Step 4: Write a function that takes in a board and a mark (X or O) and then checks to see if that mark has won. **

In [4]:
def win_check(board, marker):
  return ((board[7] == marker and board[8] == marker and board[9] == marker) or # across the top
          (board[4] == marker and board[5] == marker and board[6] == marker) or # across the middle
          (board[1] == marker and board[2] == marker and board[3] == marker) or # across the bottom
          (board[7] == marker and board[4] == marker and board[1] == marker) or # down the middle(left)
          (board[8] == marker and board[5] == marker and board[2] == marker) or #down the middle(center)
          (board[9] == marker and board[6] == marker and board[3] == marker) or # down the right side
          (board[7] == marker and board[5] == marker and board[3] == marker) or # diagonal
          (board[9] == marker and board[5] == marker and board[1] == marker)) # diagonal

**TEST Step 4:** run the win_check function against our test_board - it should return True

**Step 5: Write a function that uses the random module to randomly decide which player goes first. You may want to lookup random.randint() Return a string of which player went first.**

In [5]:
import random
def choose_first(p1,p2):

  if random.randint(0,1) == 1 :
    # print(f'{player1_name} starts')
    return p1, p2
  else:
    # print(f'{player2_name} starts')
    return p2, p1

**Step 6: Write a function that returns a boolean indicating whether a space on the board is freely available.**

In [6]:
def space_check(board, position):
  return board[int(position)] == ''

**Step 7: Write a function that checks if the board is full and returns a boolean value. True if full, False otherwise.**

In [7]:
def full_board_check(board):
  return all([a in ('X','O') for a in board[1:]])

**Step 8: Write a function that asks for a player's next position (as a number 1-9) and then uses the function from step 6 to check if it's a free position. If it is, then return the position for later use.**

In [22]:
def player_choice(board, player_name):
  while True:
    position =  input(f'{player_name}, Enter position number 1-9: ')
    try:
      if 1 <= int(position) <=9 and space_check(board,position):
        position = int(position)
        return position
        break
    except IndexError :
      print('Enter number between 1 and 9 ')
    except ValueError:
      print('Enter numerical number ')
    # pass

**Step 9: Write a function that asks the player if they want to play again and returns a boolean True if they do want to play again.**

In [23]:
player_choice(test_board,'John')

John, Enter position number 1-9: yt
Enter numerical number
John, Enter position number 1-9: 6
John, Enter position number 1-9: 9

9

In [9]:
def replay():
    return input('Play Again? (Y/N): ').lower().startswith('y')

**Step 10: Here comes the hard part! Use while loops and the functions you've made to run the game!**

In [37]:
# test_board.index
# import re
# import time
def username_str(string = 'Enter Value: '):
  while True:
    text = input(string)
    if text.isalnum() or text == '':
      return text
    elif any(x ==' ' for x in text):
      print('spaces not allowed')
    else:
      print('Only alphabets and/or numbers are allowed!')

In [38]:
username_str()

Enter Value:

''

In [40]:
time.time()

1701765571.7868016

In [119]:
print('Welcome to Tic Tac Toe!')
print("Select from the options below\n1.Human against Computer\n2.Human vs Human\n")

while True:

    type_of_play = int(input('Enter Choice: '))
    if type_of_play == 2:
        player1 =  (lambda x :  'Player 1' if x == '' else x)( username_str('Player 1 Enter name: '))
        player2 =  (lambda x :  'Player 2' if x == '' else x)( username_str('Player 2 Enter name: '))
        break
    else:
        while True:
            name =  (lambda x : 'Player 1' if x == '' else x)( username_str('Please Enter name: '))
            if bool(name.strip()) and not re.match(r'^Computer$', name, re.IGNORECASE):
                player1 = name

                player2 = 'Computer'

                break
            else:
                print('You can\'t use ','Computer')
        break
# player1,player2 = ('Computer','Computer')
players = choose_first(player1,player2)
details = {'names':[player1,player2],'markers':list(player_input(player1,player2)),'score_board':[0,0,0], "counter": 0 }

# # get player markers

  # determine who goes first
cycle = itertools.cycle([0,1])
theBoard = [''] * 10
play_game = input('Are you ready to play? Enter Y / N : ')
if play_game.lower()[0] == 'y':
    game_on_ = True

else:
  game_on_ = False
  print('Done!')

print(f'{player1} goes first')
def display_score_board():
    print('\t\t\t\t','-----------'*5)
    print('\t\t\t\t\t\t\tSCORE BOARD')
    print('\t\t\t\t\t','---------'*4)

    for a in range(len(details['score_board'])):
        print(f'\t\t\t\t\t\t{details["names"][a]}:{" ":4s} {details["score_board"][a]}')
        print('\t\t\t\t\t','---------'*4)
    print('\t\t\t\t','-----------'*5)
def run_game(game_on):
  while game_on == True:
    def board_action (next_cycle):
      display_board(theBoard[1:])
      if details['names'][next_cycle] == 'Computer':
          time.sleep(0.5)
          start_time = time.time()
          position = random.choice([index + 1 for index,x in enumerate(theBoard[1:]) if x == ''])
          end_time = time.time()
          time.sleep(1)
      elif next_cycle != 'Computer' :
          time.sleep(0.5)
          start_time = time.time()
          position = player_choice(theBoard, details['names'][next_cycle])
          end_time = time.time()
      place_marker(theBoard, details['markers'][next_cycle], position)

      display_board(theBoard[1:])
      return next_cycle, position, start_time, end_time


    next_ = next(cycle)

    if not any(win_check(theBoard,marker) for marker in details['markers']) and not full_board_check(theBoard):
      play, pos, time_start, time_end = board_action(next_)
      time.sleep(0.5)
      with open ('ttt_mining.csv','a') as file:
        file.write(f"player{play},{pos},{time_start},{time_end},''\n")

    else:
      if win_check(theBoard,details['markers'][next_]):
        if next != 'Computer':
          print(details['names'][next_], 'wins')
        else:
          print('Congratulations',details['names'][next_], 'you win')
        details['score_board'][next_] += 1
        with open ('ttt_mining.csv','a') as file:
          file.write(f"winner,'','','', {next_}\n")
        game_on = False
        break

      elif full_board_check(theBoard):
        print('Its a draw')
        winner = 'Draw'
        details['names'][-1] += 1
        with open ('ttt_mining.csv','a') as file:
          file.write(f"winner,'','','', {winner}\n")
        game_on = False
        break


try:
  while details['counter'] < 1:
    run_game(game_on_)
    details['counter'] += 1
  else:
      # replay_ = replay()
      while True:
          if replay() == True:
              details['counter'] += 1
              theBoard = [''] * 10
              run_game(True)
          else:
              print('Game Ended !')
              break
except Exception as e :
    print(f'Error {e} found')
finally:
    display_score_board()

				************************************************

						|		|
					O	|	X	|	X
					------------------------------------
						|		|
					O	|	O	|	O
						|		|
					------------------------------------
					X	|	O	|	X
						|		|

				************************************************
Its a draw
Error can only concatenate str (not "int") to str found
				 -------------------------------------------------------
							SCORE BOARD
					 ------------------------------------
						findus:     2
					 ------------------------------------
						Computer:     1
					 ------------------------------------

IndexError: ignored

# New section

In [118]:
details

{'names': ['Player 1', 'Player 2'],
 'markers': ['X', 'O'],
 'score_board': [2, 2],
 'counter': 4}

In [117]:
display_score_board()

				 -------------------------------------------------------
							SCORE BOARD
					 ------------------------------------
						Player 1:     2
					 ------------------------------------
						Player 2:     2
					 ------------------------------------
				 -------------------------------------------------------

In [ ]:
5nprint('\t\t\t\t\t\t\t-----------')
print('\t\t\t\t\t\t\tSCORE BOARD')
print('\t\t\t\t\t\t\t-----------')
for score in score_board.keys():
  print(f'\t\t\t\t\t\t\t|{score}:\t {score_board[score]}|')
  print('\t\t\t\t\t\t\t-----------')
print('\t\t\t\t\t\t\t-----------')

SyntaxError: invalid syntax (2053750075.py, line 1)

In [ ]:
a = 'cable'
a[::-1]

'elbac'

In [ ]:
def reverse_string():
  return input('Enter string values")[

SyntaxError: ignored

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/imabiodun/fifa-ranking/main/fifa.csv')

<ipython-input-44-2b43375612c8>:1: DtypeWarning: Columns (14,26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('https://raw.githubusercontent.com/imabiodun/fifa-ranking/main/fifa.csv')

In [ ]:
data.drop(data[data['Overall'] > 90].index, axis = 0)

,Name,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
6,De Gea,26,Spain,90,57,38,60,43,42,64,...,50,31,13,58,40,21,64,68,13,GK
7,E. Hazard,26,Belgium,90,93,54,93,91,92,87,...,86,79,22,87,79,27,65,86,79,LW
8,T. Kroos,27,Germany,90,60,60,71,69,89,85,...,90,87,69,52,77,82,74,88,82,CDM CM
9,G. Higuaín,29,Argentina,90,78,50,75,69,85,86,...,75,88,18,80,72,22,85,70,88,ST
10,Sergio Ramos,31,Spain,90,75,84,79,60,84,80,...,78,79,91,77,84,89,81,63,66,CB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17976,A. Kelsey,17,England,46,24,16,38,26,12,23,...,19,19,10,32,28,11,50,26,6,GK
17977,B. Richardson,47,England,46,25,44,35,44,22,44,...,12,13,13,25,32,12,47,17,12,GK
17978,J. Young,17,Scotland,46,66,26,60,77,41,50,...,42,42,14,51,33,17,32,37,33,ST
17979,J. Lundstram,18,England,46,57,46,58,74,43,45,...,49,43,47,58,49,48,46,51,25,CM
17980,L. Sackey,18,Ghana,46,48,52,49,47,32,33,...,31,21,43,49,55,44,67,22,19,ST CB

## Good Job!